[build]
  base = "packages/ui"
  command = "npm install --legacy-peer-deps --include=optional && npm rebuild @swc/core || true && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18.20.0"

